NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=d3685223eb710aa1d630529ac6af30bf1f13acdfcc86a091689d5ba94d8ac514

GOOGLE_CLIENT_ID=14790736140-u3j3hp4e9rc3rv7vc468tem0a9tbplr8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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


# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL='mysql://rbujjxr1bjxipx27w5sc:pscale_pw_M8BoPgWNQuyfj4wKYE5802bpyCdfdUqECFiMC1KR5Dm@ap-south.connect.psdb.cloud/zipy?sslaccept=strict'